.productTab{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
